.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
    -fx-base: rgba(60, 63, 65, 255); 
}

#loginAnchor{
	    -fx-background-image: url("lib.jpg");
	
}

.btnLabel{
	    -fx-font-weight: 700;
	    -fx-color: red;
}
